* {
    background-color: rgb(206, 233, 224);
}
#greeting {
    text-align: center;
    font-size: 30px;
    height: 30px;
    color: rgb(163, 9, 163);
    max-width: auto;
    min-width: auto;
    display:flex;
    align-items:center;
    
    
    
}
#pht {
    padding: auto;
    max-width: auto;
    min-width: auto;
    display: inline-block;
    text-align: center;
    display:flex;
    align-items:center;
}
#img1,
#img2,
#img3,
#img4,
#img5,
#img6 {
    height: 300px;
    max-width: auto;
    min-width: auto;
    
}
#dop,
#sparetime {
    text-align: center;
    font-size: 30px;
    height: 30px;
    color: rgb(75, 58, 224);
    max-width: auto;
    min-width: auto;
    padding: auto;
    display:flex;
    align-items:center;
    

}
td,
th {
    border: 1px solid black;;

}
a {
    text-align: center;
}
#vid {
    height: 700px;
    padding: auto;
    max-width: auto;
    min-width: auto;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
table {
    padding: auto;
    max-width: auto;
    min-width: auto;
    display:flex;
    align-items:center;
}
