* {
    background-color: rgb(206, 233, 224);
}
#greeting {
    text-align: center;
    font-size: 40px;
    height: 30px;
    color: rgb(163, 9, 163);
    max-width: 100%;
    min-width: 100%;
}
#pht {
    margin-left: 300px;
    max-width: 100%;
    min-width: 100%;
    display: inline-block;
}
#img1,
#img2,
#img3,
#img4,
#img5,
#img6 {
    height: 300px;
    padding: 50px;
    
}
#dop,
#sparetime {
    text-align: center;
    font-size: 30px;
    height: 30px;
    color: rgb(75, 58, 224);
    max-width: 100%;
    min-width: 100%;

}
table,
td,
th {
    border: 1px solid black;;

}
a {
    text-align: center;
}
#vid {
    height: 700px;
    margin-left: 700px;
}
table {
    margin-left: 250px;
    max-width: 100%;
    min-width: 80%;
}
